CompileFlags:
  BuiltinHeaders: QueryDriver
  CompilationDatabase: build
  Add:
    - -Ibuild/tilck_gen_headers
    - -DCLANGD
    - -Wno-undefined-internal

  Remove:
    - -maccumulate-outgoing-args
    - -Werror
